@model IEnumerable<App.Models.Warehouses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WAREHOUSE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WAREHOUSE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WAREHOUSE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WAREHOUSE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION_ID)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Create", new { id = item.WAREHOUSE_ID }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WAREHOUSE_ID })
            </td>
        </tr>
}
    </tbody>
</table>
